
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  


/* style header section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    display: flex;
    justify-content: space-around;
}
div ul {
    display: flex;
    justify-content: space-around;
    gap:20px;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.nav-manu-1{
    color:#FEA301;
    
}
.nav-manu-2{
    color:#01ACFD ;
    
}
.nav-manu-3{
    color:#05D4DF ;
    
}
.nav-manu-4{
    color:#5D58EF ;
    
}
.nav-btn{
    background-color: #FEA301;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.nav-btn:hover{
    background-color: #01ACFD;
    color: white;
    transition-duration: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


main{
   
    /* max-width:1200px; */
    margin: 0 auto;
    padding: 30px;
}
main{
    background-image: linear-gradient(white, rgb(245, 238, 148));
    padding: 0;
    width: 100%;
}

/* style hero section */
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.banner-img{
   width: 100%;
   
}
.banner-text-1{
    color: #FEA301;
}
.banner-text-2{
    color: #01ACFD;
}
.banner-title{
    font-size: 46px;
    font-weight: 700px;
}
.banner-description{
    font-size: 16px;
    font-weight: 600px;
    color: gray;
}
.banner-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;

}
.banner-btn:hover{
    background-color: #FEA301 ;
    color: white;
    transition-duration: 0.2s;
}

/* style Standard Curriculum sectioon  */
.curriculum-container{
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 10px;
    margin-top: 100px;
}

.curriculam-title{
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
    font-weight: 700px;
}
 /* style card section */
 .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
 }

 .card-1{
    text-align: center;
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 1px 2px #DEF5FF;


 }
 
 
 .card-2{
    text-align: center;
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 1px 2px #FFF4DC;


 }
 .card-3{
    text-align: center;
    background-image: linear-gradient(#F2E8FF, #FFFFFF);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 1px 2px #F2E8FF;


 }

 .card-title{
    font-size: 22px;
    font-weight: 700px;
 }
 .card-description {
    font-size: 15px;
    color: gray;
    padding: 0 20px;

 }

 /* left and right arrow style */
 .arrow-btn{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
   
 }
 .fas{
    background-color: #FEA301;
    color: #ffffff;
    border-radius: 50%;
    padding: 20px;
 }

 /* style our story title section */
 .story-title{
    text-align:center ;
    font-size: 32px;
    font-weight: 700px;
    margin-top: 100px;
 }

/* style our story card section */
 .story-img{
    width: 400px;
    border-radius: 10px 10px 0 0;
 }
.card{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
   
}
.story-btn1{
    position: absolute;
    background-color: #01ACFD;
    border: none;
    border-radius: 5px;
    margin-bottom: 1600px;
    padding-bottom: 800px;
    padding: 10px 15px;
    color: white;

}
.card-title{
    padding: 20px;
    font-size: 22px;
    font-weight: 700px;
}
.card-description{
    padding: 0 20px;
}
.our-story{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 20px;
    
}
.story-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
    
}
.collage-img{
    width: 230px;
    border-radius: 10px 10px 0 0;
}
.story-title-1{
    font-size: 15px;
    padding: 20px;

}
.story-cart{
    background-color: white;
    border-radius: 10px;
    width: 230px;
   

}
.story-btn{
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700px;
    padding: 10px 20px;
   
}
/* style footer section */
.footer-section{
    background-color: #01ACFD;
    margin-top: 0pxpx;
    padding-top: 20px;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 30px 30px 80px;
    
}
.footer-list {
    display: inline-block;
    
    
}
.footer-list li{
    color: white;
    font-size: 15px;
    font-weight: 200px;
}
.list-title{
    font-size: 18px;
    margin-top: 0px;
    
}
.fotter-title{
    color: white;
    font-size: 22px;
    font-weight: 700px;
 
}
.footer-logo{
    display: flex;
}
.footer-description{
    color: white;
    font-size: 15px;
    font-weight: 200px;
}



/*  responsive  largest device style */
@media  (max-width: 1200px) {

    /* navebar style */
    .nav-logo{
      
    }
    nav ul li a{
        font-size: 16px;
    }

  
   /* responsive small device */
}
  @media (max-width:768px){
    .checkbtn{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    
    }
    nav ul li a{
        font-size: 20px;

    }
    .nav-btn{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    nav{
        padding: 12px 16px;
        width: auto;
        border-bottom: 1px solid orange;
    }    
    /* responsive hero section style */
   
    .hero-section{
        flex-direction: column-reverse;
    }
    .banner-img {
        width: 80%; 
        margin: 0 auto; 
    }
    .banner-text{
        text-align: center;
        
    }
    .banner-title{
        font-size: 26px;

    }
    .banner-description{
        font-size: 14px; 
    }
    .banner-btn {
        font-size: 14px; 
        padding: 8px 12px; 
    }
    
    /* responsive Standard Curriculum sectioon */
 
    .curriculam-title{
        margin-top: 30px;
    } 
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* responsive arrow icon section */
    .fas{
        display: none;
    }

    /* responsiv our story section */
   
     .card{
        display: none;
     } 
     .story-collage{
        grid-template-columns: repeat(2,1fr); 
        gap: 10px;
     } 
     .collage-img {
        width: 100%; 
    }
    .story-cart {
        width: 100%;
    }
    div[style*="padding: 70px; text-align: center;"] {
        padding: 30px 10px;
    }

    /* responsive footer secton */
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
    

} 


/*responsive Extra small devices  */

@media screen and (max-width: 480px) {

    /* hero section style */
    .banner-title {
        font-size: 22px; 
    }
    .banner-description {
        font-size: 12px; 
    }
    .banner-btn {
        font-size: 12px;
        padding: 6px 10px;
    }
    .banner-img {
        width: 90%; 
    }
     /* responsive Standard Curriculum sectioon */

    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .story-collage{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .collage-img {
        width: 100%; 
    }
    .story-cart {
        width: 100%;
    }
    /* responsive footer section */

    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
} 